@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.wrapper {
  width: 123px;
  min-height: 40px;
  border: 1px solid colors.$GREY_100;
  border-radius: 10px;

  &:hover {
    background-color: colors.$GREY_100;
  }

  .currentItem {
    @include flexbox.horizontal(around, center);
    width: 100%;
    height: 40px;

    &:first-child {
      margin-left: 20px;
    }

    &:last-child {
      margin-right: 26px;
    }
  }
}
