@use 'styles/constants/colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Stylish&display=swap');

.globalNavBar {
  position: relative;
  height: 80px;
  background: #f6f7f8;

  .contentContainer {
    position: absolute;
    top: 20px;
    left: 870px;
    width: 210px;
    height: 40px;

    li {
      position: absolute;

      &.new {
        top: 6px;
        left: 21px;
        width: 5px;
        height: 5px;
        background: #ea3a4b;
        border-radius: 50%;
      }

      &.notify {
        top: 8px;
        left: 0;
        width: 24px;
        height: 24px;
      }

      &.setting {
        top: 8px;
        left: 54px;
        width: 24px;
        height: 24px;
      }

      &.myPage {
        top: 0;
        left: 108px;
        width: 102px;
        height: 40px;

        .name {
          position: absolute;
          top: 12px;
          left: 50px;
          width: 54px;
          height: 16px;
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          color: #3a474e;
        }
      }
    }
  }

  .horizonBar {
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: 10;
    width: 1040px;
    height: 0;
    border: 1px solid #edeff1;
  }
}
