@use 'styles/constants/colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Stylish&display=swap');

.globalNavBar {
  position: relative;
  width: 100%;
  min-width: 789px;
  max-width: 1120px;
  height: 80px;
  background: colors.$BG_G;

  .contentContainer {
    position: absolute;
    top: 20px;
    right: 54px;
    width: 210px;
    height: 40px;

    li {
      position: absolute;

      &.new {
        top: 6px;
        left: 21px;
        width: 5px;
        height: 5px;
        background: colors.$SECONDARY_02;
        border-radius: 50%;
      }

      &.notify {
        top: 8px;
        left: 0;
        width: 24px;
        height: 24px;
      }

      &.setting {
        top: 8px;
        left: 54px;
        width: 24px;
        height: 24px;
      }

      &.myPage {
        top: 0;
        left: 108px;
        width: 102px;
        height: 40px;

        .name {
          position: absolute;
          top: 12px;
          right: 25px;
          width: 54px;
          height: 16px;
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          color: colors.$GREY_800;
          transform: translateX(50%);
        }
      }
    }
  }

  .horizonBar {
    position: absolute;
    top: 80px;
    right: 50%;
    z-index: 10;
    width: 92%;
    height: 0;
    border: 1px solid colors.$GREY_50;
    transform: translateX(50%);
  }
}
