@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.globalNavBar {
  position: absolute;
  top: 0;
  left: 320px;
  width: 1120px;
  height: 80px;
  background-color: colors.$BG_G;

  .contentContainer {
    position: absolute;
    top: 20px;
    left: 870px;
    width: 210px;
    height: 40px;

    .new {
      position: absolute;
      top: 6px;
      left: 21px;
      width: 5px;
      height: 5px;
      background: #ea3a4b;
      border-radius: 50%;
    }

    .notify {
      position: absolute;
      top: 8px;
      left: 0;
      width: 24px;
      height: 24px;
    }

    .setting {
      position: absolute;
      top: 8px;
      left: 54px;
      width: 24px;
      height: 24px;
    }

    .myPage {
      position: absolute;
      top: 0;
      left: 108px;
      width: 102px;
      height: 40px;
      // @include flexbox.flexbox(center, center);

      .name {
        position: absolute;
        top: 12px;
        left: 50px;
        width: 54px; //TODO: figma에서는 52px인데 폰트가 없어서 54px로 설정해야 한줄로 들어옴
        height: 16px;

        // font-family: 'Roboto'; TODO: 폰트 찾아볼 것
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: #3a474e;
      }
    }
  }

  .horizonBar {
  }
}
