// Grayscale
$WHITE: #ffffff;
$GRAY0: #f8f9fa;
$GRAY1: #f1f3f5;
$GRAY2: #e9ecef;
$GRAY3: #dee2e6;
$GRAY4: #ced4da;
$GRAY5: #adb5bd;
$GRAY6: #868e96;
$GRAY7: #495057;
$GRAY8: #343a40;
$GRAY9: #212529;
$BLACK: #000000;

$BG_DG: #f5f6f7;
$BG_G: #f6f7f8;
$BG_W: #ffffff;

$GREY_50: #edeff1;
$GREY_100: #d1d8dc;
$GREY_300: #94a2ad;
$GREY_800: #3a474e;

$PRIMARY: #586cf5;
$SECONDARY_01: #e5f4fd;
$SECONDARY_02: #ea3a4b;

$GRAPH_1: #4fadf7;
$GRAPH_2: #85da47;
$GRAPH_3: #ac8af8;

$ERROR: #f03e3e;

$SHADOW_BANNER: rgba(#000000, 4%);
