@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.wrap {
  display: flex;
  width: 1440px;
  margin: 100px auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 10%);

  .mainWrapper {
    .pageWrapper {
      padding-bottom: 98px;
      background-color: colors.$BG_G;
    }
  }
}
