@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.wrap {
  display: flex;
  width: 1440px;
  margin: 100px auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 10%);

  .mainWrapper {
    background-color: colors.$BG_G;

    .pageWrapper {
      width: 1120px;
      min-width: 789px;
      max-width: 1120px;
      padding-bottom: 98px;
    }
  }
}
