@use 'styles/constants/colors';
@use 'styles/mixins/position';
@use 'styles/mixins/flexbox';

.wrapper {
  width: 100%;
  padding: 37px 40px 30px;

  .title {
    padding: 20px 0 21px;

    .sectionTitle {
      font-size: 16px;
      font-weight: 700;
      line-height: 18.75px;
    }
  }

  .sectionBody {
    padding: 80px 40px 70px;
    background-color: colors.$BG_W;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 4%);

    // .sectionBodyInner {
    //   @include flexbox.vertical(between, center);
    //   width: 100%;
    //   height: 100%;

    .chart {
      width: 100%;
    }

    table {
      width: 100%;
      height: 200px;
      overflow-x: scroll;
      font-size: 12px;

      tr {
        height: 40px;
        line-height: 40px;
        border-top: 1px solid colors.$GREY_50;
      }

      thead {
        color: colors.$GREY_300;

        tr {
          height: 40px;
          text-align: right;

          th {
            width: 120px;
            padding-right: 10px;
            color: colors.$GREY_300;
          }
        }
      }

      tbody {
        color: colors.$GREY_800;

        th {
          width: 120px;
          height: 40px;
          text-align: left;
        }

        td {
          width: 120px;
          padding-right: 10px;
          text-align: right;
        }

        .aggRow {
          color: colors.$PRIMARY;
          border-bottom: 1px solid colors.$GREY_50;
        }
      }
      // }
    }
  }
}
